// place your custom styles here
/* Emphasis */
.text-info {
  color: #2563eb;
}

.text-warning {
  color: #d97706;
}

.text-danger {
  color: #dc2626;
}

.text-success {
  color: #16a34a;
}

.text-insight {
  color: #7c3aed;
}

.text-muted {
  color: #6b7280;
}